@import 'keep-react/css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 99%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --custom: 38 92% 50%;
    --custom-foreground: 48 96% 89%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --custom: 38 92% 50%;
    --custom-foreground: 48 96% 89%;
  }

  .pink {
    --background: 340 100% 90%;
    --foreground: 330 20% 90%;

    --card: 340 100% 90%;
    --card-foreground: 330 20% 90%;

    --popover: 340 100% 90%;
    --popover-foreground: 330 20% 90%;

    --primary: 330 20% 90%;
    --primary-foreground: 340 100% 90%;

    --secondary: 337 70% 70%;
    --secondary-foreground: 330 20% 90%;

    --muted: 337 70% 70%;
    --muted-foreground: 335 40% 50%;

    --accent: 337 70% 70%;
    --accent-foreground: 330 20% 90%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 330 20% 90%;

    --border: 337 70% 70%;
    --input: 337 70% 70%;
    --ring: 330 20% 90%;

    --custom: 38 92% 50%;
    --custom-foreground: 48 96% 89%;
  }

  .red {
    --background: 0 100% 90%;
    --foreground: 10 80% 90%;

    --card: 0 100% 90%;
    --card-foreground: 10 80% 90%;

    --popover: 0 100% 90%;
    --popover-foreground: 10 80% 90%;

    --primary: 10 80% 90%;
    --primary-foreground: 0 100% 90%;

    --secondary: 7 70% 70%;
    --secondary-foreground: 10 80% 90%;

    --muted: 7 70% 70%;
    --muted-foreground: 5 40% 50%;

    --accent: 7 70% 70%;
    --accent-foreground: 10 80% 90%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 10 80% 90%;

    --border: 7 70% 70%;
    --input: 7 70% 70%;
    --ring: 2.5 80% 90%;

    --custom: 38 92% 50%;
    --custom-foreground: 48 96% 89%;
  }

  .blue {
    --background: 210 100% 90%;
    --foreground: 220 80% 90%;

    --card: 210 100% 90%;
    --card-foreground: 220 80% 90%;

    --popover: 210 100% 90%;
    --popover-foreground: 220 80% 90%;

    --primary: 220 80% 90%;
    --primary-foreground: 210 100% 90%;

    --secondary: 217 70% 70%;
    --secondary-foreground: 220 80% 90%;

    --muted: 217 70% 70%;
    --muted-foreground: 215 40% 50%;

    --accent: 217 70% 70%;
    --accent-foreground: 220 80% 90%;

    --destructive: 200 62.8% 30.6%;
    --destructive-foreground: 220 80% 90%;

    --border: 217 70% 70%;
    --input: 217 70% 70%;
    --ring: 212.5 80% 90%;

    --custom: 38 92% 50%;
    --custom-foreground: 48 96% 89%;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}